:host ::ng-deep .p-toolbar {
  border-radius: 6px;
  margin-bottom: 1rem;
}

:host ::ng-deep .p-paginator {
  padding: 1rem;
}

:host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-header {
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 600;
}

:host ::ng-deep .p-datatable.p-datatable-customers .p-paginator {
  padding: 1rem;
}

:host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-thead > tr > th {
  text-align: left;
}

:host ::ng-deep .p-datatable.p-datatable-customers .p-dropdown-label:not(.p-placeholder) {
  text-transform: uppercase;
}

:host ::ng-deep .p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}

.p-button.p-button-help {
  background-color: #7b64c3;
  border-color: #7b64c3;
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 960px) {
  :host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-thead > tr > th,
  :host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-tfoot > tr > td {
      display: none !important;
  }

  :host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-tbody > tr {
      border-bottom: 1px solid var(--surface-d);
  }

  :host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td {
      text-align: left;
      display: block;
      border: 0 none !important;
      width: 100% !important;
      float: left;
      clear: left;
      border: 0 none;
  }

  :host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td .p-column-title {
      padding: 0.4rem;
      min-width: 30%;
      display: inline-block;
      margin: -0.4rem 1rem -0.4rem -0.4rem;
      font-weight: bold;
  }

  :host ::ng-deep .p-datatable.p-datatable-customers .p-datatable-tbody > tr > td .p-progressbar {
      margin-top: 0.5rem;
  }
}
